body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    height: 100px;
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-color: #4f98f7;
    background-size: 29%;
    background-position: top;
    
   

}

.logo {
    height: 14%;
    width: 14%;
    position: relative;
    top: 45%;
    left: 5px;
    
    
   
    
    

    
   
}