body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

.banner {
    height: 80px;
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-color: #4f98f7;
    background-size: 320px;
    
    
    }

.logo {
    height: 9%;
    width: 9%;
    position: relative;
    top: 45%;
    left: 5px;
    }

.titolo {
    margin: 0;
}

.tabella{
    width: 100%;
    text-align: left;
    margin-top: 2% ;
   
   
}

.colonna{
    height: 50px;
    width: 50%;
}

.azzurro{
    background-color: aqua;
}
.blu {
    background-color: #719ed8;
    color: white;
}

#lista{
    padding-left: 1%;
    margin-top: 1%;
}