body {
    margin: 0;
    margin-left: 1%;
    padding: 0;
    box-sizing: border-box;

    
}

.banner {
    height: 80px;
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-color: #4f98f7;
    background-size: 320px;
    
    
    }

.logo {
    height: 9%;
    width: 9%;
    position: relative;
    top: 45%;
    left: 5px;
    }

#sottotitolo {
    font-size: 15px;
    position: relative;
    top: 25%;
}

.tabella{
    width: 100%;
    text-align: left;
    margin-top: 2% ;
   
   
}

.colonna{
    height: 50px;
    width: 50%;
}

.azzurro{
    background-color: aqua;
}
.blu {
    background-color: #719ed8;
    color: white;
}

#lista{
    padding-left: 1%;
    margin-top: 1%;
}

h4{
    color: grey;
}

.primo{
    background-image: url(./img/monitor.jpg);
    background-size: cover;
    height: 300px;
    width: 400px;
    color: white;
    font-size: 25px;
}

.secondo{
    background-image: url(./img/graph.jpg);
    margin-top: 15px;
    background-size: cover;
    height: 300px;
    width: 400px;
    color: white;
    font-size: 25px;
}

span{
    position: relative;
    left: 5%;
    top: 2%;
    font-size: 37px;
}